@font-face {
    font-family: "Fira Code";
    src: url(FiraCode-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Fira Code";
    src: url(FiraCode-Regular.ttf);
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #070720;
    color: #c7c7e9;
    font-family: "Calibre", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    margin-top: -8vh;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    width: 50vw;
    min-height: 100vh;
    padding: 5vh 0vw 5vh 0vw;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    margin-top: 8vh;
    box-shadow: 0px 1px 3px 0px #030313;

    background-color: #070720;
    z-index: 100001;
    width: 100%;
    padding: 3vh 5vw 3vh 5vw;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    counter-reset: item; 
}

header nav a {
    font-family: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-weight: bold;
    font-size: 120%;
    padding: 0vh 1vw 0vh 1vw;
    color: #ededfc;
    text-decoration: none;
}

footer {
    padding: 3vh 5vw 3vh 5vw;
    box-shadow: 0px -1px 3px 0px #030313;
    text-align: center;
}

h1 {
    font-family: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    color: #ededfc;
    font-size: 150%;
    margin-bottom: 2vh;
}

h1~.finish-header {
    color: #ededfc;
    font-size: 400%;
    font-weight: bold;
    padding-bottom: 0;
}

h2 {
    color: #1b1b70;
    font-size: 400%;
}

h3 {
    color: #ededfc;
    font-size: 170%;
}

h4 {
    color: #c7c7e9;
    font-size: 130%;
    padding-bottom: 1vh;
}

p {
    font-size: 120%;
    line-height: 130%;
    padding-bottom: 1vh;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    list-style: none;
    padding-bottom: 1vh;
}

li {
    font-family: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-size: 130%;
    margin-right: 2vw;
    flex: 0 0 auto;
}

li::before {
    content: '>';
    padding-right: 0.5vw;
    font-weight: bold;
    font-size: 100%;
    color: #1b1b70;
}

span.hex {
    color: #1b1b70;
}

a {
    color: inherit;
}

a:visited {
    color: inherit;
}

a.button {
    border: .3vh solid #c7c7e9;
    border-radius: .7vh;
    text-decoration: none;
    padding: 1.5vh 1vw 1.5vh 1vw;
    font-family: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    text-align: center;
    flex: 0 0 auto;
    width: max-content;
    margin: 1vh 1vw 1vh 1vw;
}

a.button:hover {
    border: .3vh solid #ededfc;
    color: #ededfc;
    background-color: #1b1b70;
    box-shadow: 5px 5px 3px 0px #01010e;
}

a#NCR {
    text-decoration: none;
    display: inline-flex;
    vertical-align: -21%;
    border-bottom: .4vh solid #c7c7e9;
    font-weight: bold;
    padding-bottom: .2vh;
}
a#NCR .ncr-logo path {
    fill:#c7c7e9;
    fill-opacity:1;
    fill-rule:nonzero;
}

a#NCR:hover {
    color: #ededfc;
    border-bottom: .4vh solid #ededfc;
}

a#NCR:hover .ncr-logo path {
    fill:#ededfc;
}


a#NCR img {
    padding-right: .08vw;
}

#x00 {
    min-height: 100vh;
}

#x00 h1 {
    margin: 0;
}

#x00 p:not(.finish-header) {
    line-height: 160%;
}

#x01 p {
    width:70%;
    padding-bottom: 2vh;
}

div.menu-parent {
    display: flex;
    flex-direction: row;
}
nav.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 0 .6 auto;
    width:auto;
    font-family: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-size: 130%;
    padding-top: 3vh;
}

nav.menu a {
    border-left: .2vw solid #c7c7e9;
    color: #c7c7e9;
    text-decoration: none;
    padding: .5vh 1vw .5vh 1vw;
    margin-right: 1.5vw;
}

nav.menu a:hover {
    background-color: #1b1b70;
    color: #ededfc;
}

div.menu-content ul {
    width:100%;
}

div.menu-content ul li {
    margin-right: 1vw;
}

div.menu-content div {
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
}

div.menu-content div div.buttons {
    padding: 0;
    display: flex;
    flex-direction: row;
}

div.buttons {
    padding: 0;
    display: flex;
    flex-direction: row;
}
div.buttons a:first-child {
    margin-left: 0;
}

#x04 h1 {
    margin: 0;
}

aside.socials {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    padding: 1vh 2vw 0vh 2vw;
    align-items: center;
}

aside div.aside-line {
    width: .1vw;
    height: 17vh;
    background-color: #c7c7e9;
}

aside.socials a {
    margin-bottom: 3vh;
}

aside.socials a:hover svg {
    stroke: #ededfc;
    fill: #ededfc;
}

aside.socials svg {
    width: 1.5vw;
}