@font-face {
  font-family: Futura;
  src: url(../resources/fonts/Futura-Bold.woff);
}

html {
  font-size: 14px;
  font-family: Futura;
}

nav.menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

nav.menu > ul {
  margin: 0;
  margin-left: 3em;
  padding: 0;
  list-style: none;
}

nav.menu > ul > li:nth-child(0n + 1) {
  margin-left: 16em;
}

nav.menu > ul > li:nth-child(0n + 2) {
  margin-left: 6em;
}

nav.menu > ul > li:nth-child(0n + 4) {
  margin-left: 10em;
}

nav.menu > ul > li:nth-child(0n + 5) {
  margin-left: 18em;
}

nav.menu > ul > li > a.menu-item-link {
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
}

nav.menu > ul > li > a.menu-item-link > span.menu-item-text {
  display: block;
  padding: 2em 4em;
  font-weight: 600 !important;
  text-transform: uppercase;
}

nav.menu > ul > li:nth-child(3n-2) > a.menu-item-link > span.menu-item-text {
  background-color: #97aabd;
}

nav.menu > ul > li:nth-child(3n-1) > a.menu-item-link > span.menu-item-text {
  background-color: #3d5266;
}

nav.menu > ul > li:nth-child(3n) > a.menu-item-link > span.menu-item-text {
  background-color: #041424;
}
